<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>backend node js home page</title>
  </head>
  <body>
    <form action="/test" method="post" enctype="multipart/form-data">
      <div>
        <input
          type="text"
          name="name"
          id="nameId"
          placeholder="Enter Your Name"
        />
      </div>
      <div>
        <input type="file" name="image" id="imageId" />
      </div>
      <br />
      <div>
        <input type="submit" value="SUBMIT" />
      </div>
    </form>
    <h1>This is home page of rest api project</h1>
  </body>
</html>
